<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Bird</title>
</head>
<body>
  <h2>Edit Bird</h2>
  <div class="form">
    <form action="/birds/<%= id %>?_method=PUT" method="POST">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="<%= bird.name %>">
      </div>
      <div>
        <label for="color">Color: </label>
        <input type="text" id="color" name="color" value="<%= bird.color %>">
      </div>
      <div>
        <label for="image">Image URL: </label>
        <input type="text" id="image" name="image" value="<%= bird.image %>">
      </div>
      <button type="submit">Submit</button>
      <a href="/birds/<%=id %>"> <button>Cancel</button> </a>
    </form>
  </div>
</body>
</html>